<br><h1 class="text-center">About this project</h1><br/>
<div class="container-fluid p-5 pt-2 pb-2 m-5 mt-2 mb-2">
    <pre class="fw-bold" style="font-size: 1em">In this proyect i work with the next tecnologies:

    Language(s):
        * JavaScript

    DataBase:
        * MongoDB

    Runtime environment for JavaScript:
        * Nodejs

    Frameworks:
        * express
        * Bootstrap5
    
    Template engine:
        * Handlebars

    Authentication:
        * bcryptjs
        * json web tocken
    
    All production modules for Nodejs:
        * bcryptjs
        * bootstrap-colorpicker
        * connect-mongo
        * express
        * express-handlebars
        * express-session
        * mongoose
        * morgan
        * passport
        * passport-local

    Others:
        * NPM
        * JSON
        * ECMAScript 6 by babel

    </pre>
</div>