<head>
    <link rel="stylesheet" href="../css/edit.css"><br/><br/><br/>
</head>


<div class="container-md mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body p-4 border-3" style="color: black; background-color: rgb(228, 228, 228); border: none;">
                <div class="mt-2 mb-2 me-5 ms-5">
                    <h1 class="text-center">Add Group</h1><br>
                    <form class="row g-4" action="/home/group/{{userId}}/add" method="POST">
                        <div class="col-md-2">
                            <label for="grade">Grade: </label>
                        </div>
                        <div class="col-md-10">
                            <select name="grade" id="grade" class="form-select">
                                <option selected disabled>Open to select the grade</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="group">Group: </label>
                        </div>
                        <div class="col-md-10">
                            <select name="group" id="group" class="form-select">
                                <option selected disabled>Open to select the group</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="career">Career: </label>
                        </div>
                        <div class="col-md-10">
                            <select name="career" id="career" class="form-select">
                                <option selected disabled>Open to select the career</option>
                                <option value="ICI">ICI</option>
                                <option value="IME">IME</option>
                            </select>
                        </div><br/>
                        <div class="d-grid gap-2 mt-4">
                            <button class="btn btn-primary" type="submit">add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


