<link rel="stylesheet" href="../css/register.css">

<header>
    <div class="container-sm">
        <a href="/">
            <img src="../images/back.png" alt="Go back" class="img-fluid"/>
        </a><br>
    </div>
</header>
<br/><br/>