<nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(102, 153, 51);">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-white" href="/home" class="text-white" onclick="return confirm('the next interface is in development phase');">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/students/CRUD" class="text-white">Table</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/about" class="text-white">About</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/logout" class="text-white">Logout</a></li>
                {{!-- <div class="">
                    <input type="checkbox" class="form-check-input" name="" id="themeApp">
                </div> --}}
            </ul>  
            <span class="navbar-text">
                <a class="nav-link text-white m-0 p-0 me-4" href="/profile" class="text-white">Profile</a>
            </span>          
        </div>
    </div>
</nav>

